<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Technique Tree</title>
</head>
<body>
    <% include('header') %>
    <section>
        <h2>Welcome to Technique Tree</h2>
        <p>Technique Tree aims to revolutionize how athletes and coaches learn about their sport.</p>
        <div class="buttons">
            <button>View Content</button>
            <button>Create Account</button>
        </div>
    </section>
    <% include('footer') %>
</body>
</html>
