<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sport Tree</title>
</head>
<body>
    <% include('header') %>
    <section>
        <h2>Sport Tree</h2>
        <div class="horizontal-tree-diagram">
            <div class="level">
                <div class="node">Basics</div>
            </div>
            <div class="level">
                <div class="node">Details</div>
                <div class="node">Details</div>
            </div>
            <div class="level">
                <div class="node">Advanced</div>
                <div class="node">Advanced</div>
            </div>
        </div>
    </section>
    <% include('footer') %>
</body>
</html>
