/* Colors from palette */
:root {
    --primary: #1b4d63;   /* Dark Blue */
    --secondary: #60d18f; /* Green */
    --accent: #7d7d7d;    /* Grey */
    --border: #000000;    /* Black */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: var(--primary);
    color: white;
    padding: 20px;
}

.tree-diagram {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.level-1, .level-2 {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 20px 0;
}


.tree-diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.horizontal-tree-diagram {
    display: flex;
    justify-content: space-around; /* Spaces each level evenly */
    align-items: center;           /* Vertically centers the nodes */
    margin-top: 20px;
}

.level {
    display: flex;
    flex-direction: column;         /* Stacks nodes within each level */
    align-items: center;            /* Centers nodes within each level */
}

.node {
    background-color: var(--secondary);
    border: 2px solid var(--border);
    border-radius: 50%;
    padding: 20px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    margin: 10px 0;                 /* Adds space between nodes in each level */
}
