.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(21, 67, 96); /* Primary Blue */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 100px;
    height: 50px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-left: auto;
}