.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(21, 67, 96); /* Primary Blue */
    box-sizing: border-box; /* Ensure padding is included in width */
    position: relative;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    margin-left: auto;
    
}

.logo-image {
    width: 100px;
    height: auto;
    margin-top: -10px;
    margin-bottom: -10px;
}